img.snowboard {
    max-width: 200px;
    max-height: 200px;
}

img.brand-logo-hero {
    max-height: 100px;
    text-align: left;
}

.row {
    margin-top: 100px;
}

#background {
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
