---
layout: default
title: Ultrawide Snowboards
---

<div class="row">
    <div class="col-sm">
        <div class="card text-bg-warning">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h1>This site has moved! Check it out:</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="link-dark" href="https://chairliftrebellion.com/ultrawide" style="font-size: 5rem;">ChairliftRebellion.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card text-bg-warning">
            <div class="card-body">
                <h1>Everything from here on down is in archive mode.</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h1>Custom Board Manufacturers</h1>

                <p>If you want a particular shape, material, size, or profile you may need to comission a custom board. Listed below are manufacturers that offer custom board services.</p>

                {% assign custom_brand_count = site.data.snowboards.brands | where_exp:"brand", "brand.custom_option == true" | size%}
                <p>Check out the <a href="/">home page</a> for more general information on ultrawide boards. Otherwise check out the {{ custom_brand_count }} custom manufacturers we found for you!</p>
            </div>
        </div>
    </div>
</div>

{% assign category = 'custom' %}
{% assign brands = site.data.snowboards.brands | where_exp:"brand", "brand.custom_option == true" %}
{% include brand-list.html %}

<br><br><br><br>
{% include contact-form.html %}
