---
layout: default
title: Ultrawide Snowboards
---

<div class="row">
    <div class="col-sm">
        <div class="card text-bg-warning">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h1>This site has moved! Check it out:</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="link-dark" href="https://chairliftrebellion.com/ultrawide" style="font-size: 5rem;">ChairliftRebellion.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card text-bg-warning">
            <div class="card-body">
                <h1>Everything from here on down is in archive mode.</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h1>Splitboards</h1>

                <p>The supply of big split boards is even more limited than solid boards. The list below is everything that is 27.5cm or wider and 155cm or longer. Unfortunately, it's not much. You might be better off splitting your own board or going custom.</p>

                <p>Check out the <a href="/">home page</a> for more general information on ultrawide boards.</p>

                {% assign board_count_split = site.data.snowboards.brands | map: "splitboards" | map: "boards" | map: "name" | size %}
                <p>Check out the {{ board_count_split }} ultrawide splitboards we found for you!</p>
            </div>
        </div>
    </div>
</div>

{% assign category = 'splitboards' %}
{% assign brands = site.data.snowboards.brands | where_exp:"brand", "brand.splitboards.boards.size > 0" %}
{% include brand-list.html %}

{% assign brands = site.data.snowboards.brands | where_exp:"brand", "brand.splitboards.boards.size == 0" | where_exp:"brand", "brand.splitboards.maximum > 0" %}
{% include brand-list.html %}

{% assign brands = site.data.snowboards.brands | where_exp:"brand", "brand.splitboards.boards.size == 0" | where_exp:"brand", "brand.splitboards.maximum == null" %}
{% include brand-list.html %}


<br><br><br><br>
{% include contact-form.html %}
