{% comment %}Form based on https://github.com/toperkin/staticFormEmails{% endcomment %}


<div class="row" id="contact-form">
    <div class="col-sm">
        <div class="alert alert-dark" role="alert">
            <h1>Contact Us</h1>
            <p>Got something to say? Contact us at <a href="mailto:contact@ultrawidesnowboards.com" target="_blank">contact@ultrawidesnowboards.com</a> with suggestions, new boards, or anything else.</p>
            <p>Never send sensitive information to a random email.</p>
        </div>
    </div>
</div>
