<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{{ site.github.url }}/assets/img/site-logo.png" width="250" height="50" alt="" loading="eager">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarBrandsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarBrandsDropdown">
                    {% assign sorted = site.data.snowboards.brands | sort: 'name' %}
                    {% for brand in sorted %}
                        <a class="dropdown-item" href="#{{ brand.name }}">{{ brand.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#contact-form">Contact</a>
            </li>
        </ul>
    </div>
</nav>
