<head>
    <title>UltrawideSnowboards.com | Ride the Perfect Ultrawide Snowboard</title>
    <meta property="og:title" content="Ride the Perfect Ultrawide Snowboard"/>
    <meta property="og:image" content="https://ultrawidesnowboards.com/assets/img/mountain.png"/>
    <meta property="og:locale" content="en_US"/>
    <meta name="description" content="A website dedicated to tracking all the ultrawide snowboards"/>
    <meta property="og:description" content="A website dedicated to tracking all the ultrawide snowboards"/>
    <link rel="canonical" href="https://ultrawidesnowboards.com/"/>
    <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" href="favicon.svg" />
    <meta property="og:url" content="https://ultrawidesnowboards.com/"/>
    <meta property="og:site_name" content="UltrawideSnowboards.com"/>
    <script type="application/ld+json">
        {
            "@type": "WebSite",
            "headline": "Ride the Perfect Ultrawide Snowboard",
            "url": "https://ultrawidesnowboards.com/",
            "description": "A website dedicated to tracking all the ultrawide snowboards",
            "name": "UltrawideSnowboards.com",
            "@context": "https://schema.org"
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% include analytics.html %}
</head>
