---
layout: default
title: Ultrawide Snowboards
---

<div class="row">
    <div class="col-sm">
        <div class="card text-bg-warning">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h1>This site has moved! Check it out:</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="https://chairliftrebellion.com/ultrawide" style="font-size: 5rem;">Chairlift Rebellion</a>
                </div>

                <br><br><br><br><br>

                <p>Interested in the old stuff? It's still around at
                    <a href="/archive">Solid boards</a>,
                    <a href="/splitboards">Splitboards</a>, and
                    <a href="/customboards">Custom Boards</a>
                </p>
            </div>
        </div>
    </div>
</div>
