---
layout: default
title: Ultrawide Snowboards
---

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h1>Why Ultrawide?</h1>

                <img src="{{ site.github.url }}/assets/img/mountain.png" class="img-fluid" loading="eager"></img>

                <p>Those of us with big feet (I'm a US 13) know that toe and heel drag is a big issue, especially if you want to lay out your carves.</p>

                <p>How does an ultrawide compare?</p>

                <ul>
                    <li>Normal: 25.5cm</li>
                    <li>Wide: 26.5cm</li>
                    <li>Ultrawide: 28cm +</li>
                </ul>

                <p>Finding a big board is tough. Most manufacturers don't make ultrawide boards, and those that do bury the boards in their lineup.</p>

                <p>This website is a list of every 2020-2021 ultrawide board available that is at least 27.5cm wide at the waist. Since almost every board comes in multiple sizes, I'm only listing the widest and longest variant. You'd never ride anything smaller, right?</p>

                <p>If you're not 6'2" with a size 13 foot or larger this site is not for you. You'll do fine with a regular sized board.</p>

                <p>Some people like to overcome a narrow board by widening their stance, angling their feet more, getting risers, or just ignoring it. Those don't work for me, and they hurt. Shouldn't big guys have an opportunity to ride big boards?</p>

                <p>Check out the {{ site.data.snowboards.brands.size }} brands in the 2020-2021 lineup!</p>
            </div>
        </div>
    </div>
</div>

{% for brand in site.data.snowboards.brands %}
<div class="row" id="{{ brand.name }}">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                {% if brand.logo != null %}
                <p><img src="{{ site.github.url }}/assets/img/{{ brand.logo }}" class="brand-logo-hero img-fluid" alt="{{ brand.name }} logo"></img></p>
                {% else %}
                <h2>{{ brand.name }}</h2>
                {% endif %}

                {% if brand.notes.size > 0 %}
                <p>{{ brand.notes }}</p>
                {% endif %}

                {% if brand.boards.size > 0 %}
                <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <th>{{ brand.name }}</th>
                        <th>Name</th>
                        <th>Size (cm)</th>
                        <th>Waist Width (cm)</th>
                        <th>Category</th>
                        <th>Profile</th>
                        <th>Shape</th>
                        <th>Side Cut (m)</th>
                        <th>Stance Min-Max</th>
                        <th>Set Back</th>
                        <th>Price</th>
                    </thead>
                    {% for board in brand.boards %}
                        <tr>
                            <td><a href="{{ board.url }}" target="_blank"><img src="{{ site.github.url }}/assets/img/{{ board.image }}" class="snowboard"><img></a></td>
                            <td>{{ board.name }}</td>
                            <td>{{ board.length }}</td>
                            <td>{{ board.waist_width }}</td>
                            <td>{{ board.category }}</td>
                            <td>{{ board.profile }}</td>
                            <td>{{ board.shape }}</td>
                            <td>{{ board.side_cut }}</td>
                            <td>{{ board.stance }}</td>
                            <td>{{ board.setback }}</td>
                            <td><a href="{{ board.url }}" target="_blank">${{ board.price }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                {% elsif brand.maximum != null %}
                <p>{{ brand.name }} doesn't make any ultrawide boards (their largest is {{ brand.maximum }}cm).</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br><br><br><br>
<div class="row" id="contact-form">
    <div class="col-sm">
        <div class="alert alert-dark" role="alert">
        <h1>Contact Us</h1>
        <p>Got something to say? Contact us with suggestions, new boards, or anything else.</p>
        <p>Never send sensitive information through this form.</p>

        {% include contact-form.html %}
        </div>
    </div>
</div>
